
.main-navbar .bg-body-tertiary {
    --bs-bg-opacity: 1;
     background-color: white!important; 
}
.main-navbar .container-fluid .navbar-brand img{
    width: 100px;

}
.card{
     border:none; 
}
.card .card-body{
    padding-top: 9px ;
    padding-left: 0%;
    padding-right: 0%;
    padding-bottom: 25px;
}


.card-body a{
    color: #0067ba;
    text-decoration: none;
}
.card-body a:hover{
    border-bottom: 2px solid #0067ba  ;
    
}
.hero-wrapper2 img{
    width: 100%;
}
.social-connections{
    display: flex;
    align-items: center;
    padding: 4px;
}
.main-links{
    display: flex;
}
.main-links ul{
    display: flex; 
   list-style-type: none;
}
.main-links ul h5{
    display: flex;
}
.main-links ul li {
    display: flex;
   margin: 12px;
}
.main-links ul li a{
   text-decoration: none;
   color: black;
}
.main-links ul li a span img{
    width: 35px;
}
.footer{
    width: 100%;
    background-color:  #f2f2f2;
}


.bottom-links{
    display: flex;
    
}

.bottom-links ul{
    
   list-style-type: none;
}
.bottom-links ul li{
   margin: 12px;
   font-size: 3px;
}
.bottom-links ul li a{
   text-decoration: none;
   color: black;
   font-size: 12px;
}
.bottom-links ul li a:hover{
   border-bottom: 1px solid black;
}

.bottom-links ul h5{
    display: flex;
    align-items: center;
}
.help-center{
    display: flex;
    justify-content: space-between;
}
.help-center ul{
    display: flex;
}
.help-center ul li{
    list-style: none;
    margin: 12px;
    font-size: 12px;
}
.help-center ul li a{
    text-decoration: none;
    color: black;
    display: flex;
    align-items:center;
}
.help-center ul li a:hover{
    border-bottom: 1px solid black;
}    